html{
     box-sizing: border-box;
}

*,*::before,*::after{
     box-sizing: inherit;
     margin: 0;
}

.card{
     width: 100%;
     font-size: 16px;
     margin-top: 5%;
     box-shadow: -2px -2px 17px -2px rgba(0,0,0,0.75);
     border-radius: 5px;
     overflow: hidden;
     margin: 25px;
}

.top{
     padding: 25px;
}

.bottom{
     color: white;
     padding: 0;
     height: auto;
}

.bottom-left{
     background-color: hsl(179, 62%, 43%);
     padding: 25px;
}

.bottom-right{
     background-color: hsl(179, 58%, 50%);
     padding: 25px;
}

button{
     color: white;
     width: 100%;
     margin-top: 15px;
     padding: 10px;
     background-color: hsl(71, 73%, 54%);
     border-style: none;
     border-radius: 15px;
}

.bottom-left p{
     margin-top: 10px;
     margin-bottom: 10px;
}

ul{
     list-style: none;
     color: hsl(220, 8%, 58%);
     padding-left: 0;
     margin-top: 15px;
}

button:hover{
     scale: 1.03;
     opacity: 0.9;
     color: black;
}

@media only screen and (min-width: 992px) { 
     .card{
          width: 30%;
     }

     .bottom-left,.bottom-right{
          width: 50%;
     }

     .bottom{
          display: flex;
     }
 }